<ng-container>
  <div class="card card-custom" 
  [formGroup]="formGroup">
  

    <!-- begin::Loading -->
    <ng-container *ngIf="isLoading$ | async">
      <div class="progress progress-modal">
        <div
          class="progress-bar progress-bar-striped progress-bar-animated bg-primary"
          role="progressbar"
          style="width: 100%"
          aria-valuenow="100"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
    </ng-container>
    <!-- end::Loading -->
    <!--begin::Header-->
    <div class="card-header py-3">
      <div class="card-title align-items-start flex-column">
        <h3 class="card-label font-weight-bolder text-dark">تعديل المستخدم</h3>
      </div>
    

    </div>
    <!-- <div 
        
        *ngFor="let user of  getUser();"> -->

    <!--end::Header-->
    <!--begin::Form-->
    <div class="form">
      <div class="card-body">


      <img src="./assets/avatars-new/{{getUser()}}.png" />


        <div class="form-group col-md-5">
                <label class="font-size-h6 font-weight-bolder text-dark">الإسم الأول*</label>
                <input
                  class="form-control form-control-solid h-auto py-4 px-5 rounded-lg font-size-h6"
                  type="text"
                  name="firstName"
                  formControlName="firstName"
                  placeholder="الإسم الأول"
                  autocomplete="off"
                  [ngClass]="{
                    'is-invalid': formGroup.controls['firstName'].invalid
                  }"
                />
          
                <ng-container
                  [ngTemplateOutlet]="formError"
                  [ngTemplateOutletContext]="{
                    validation: 'required',
                    message: 'الإسم الأول مطلوب',
                    control: formGroup.controls['firstName']
                  }"
                ></ng-container>
                <ng-container
                  [ngTemplateOutlet]="formError"
                  [ngTemplateOutletContext]="{
                    validation: 'minlength',
                    message: 'الإسم الأول يجب أن يتكون من ٣ حروف على الأقل',
                    control: formGroup.controls['firstName']
                  }"
                ></ng-container>
                <ng-container
                  [ngTemplateOutlet]="formError"
                  [ngTemplateOutletContext]="{
                    validation: 'maxLength',
                    message: 'الإسم الأول يجب أن لا يكون أكثر من ١٠٠ حرف',
                    control: formGroup.controls['firstName']
                  }"
                ></ng-container>
              </div>
        <div class="form-group col-md-5">
         
          <label  class=" font-size-h6 font-weight-bolder text-dark">الإسم الأخير*</label>
          <!-- <p>
            {{user.firstName}} </p> -->
          <input
          class="form-control form-control-lg form-control-solid h-auto py-4 px-5 rounded-lg font-size-h6 " 
            type="text"
            name="lastName"
            formControlName="lastName"
            placeholder="الإسم الأخير"
            autocomplete="off"
            [ngClass]="{
              'is-invalid': formGroup.controls['lastName'].invalid
            }"
          />
    
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'الإسم الأخير مطلوب',
              control: formGroup.controls['lastName']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'minlength',
              message: 'الإسم الأخير يجب أن يتكون من ٣ حروف على الأقل',
              control: formGroup.controls['lastName']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'maxLength',
              message: 'الإسم الأخير يجب أن لا يكون أكثر من ١٠٠ حرف',
              control: formGroup.controls['lastName']
            }"
          ></ng-container>
        </div>
        <div class="form-group ">
          <label class="font-size-h6 font-weight-bolder text-dark pt-5">
          الجنس* <br>
     <input
   
           type="radio"
           id="male" 
           name="gender" 
           value="male"
           autocomplete="off"
           formControlName="gender"
           [ngClass]="{
             'is-invalid': formGroup.controls['gender'].invalid
           }"
     >
     <label 
     class="font-size-h5 font-weight-bold text-dark"
   
     for="male"> ذكر </label>
     &nbsp;&nbsp;&nbsp;
     <input 
     
           type="radio"
           id="female" 
           name="gender" 
           value="female"
           autocomplete="off"
           formControlName="gender"
           [ngClass]="{
             'is-invalid': formGroup.controls['gender'].invalid
           }"
     
     >
     <label 
     class="font-size-h5 font-weight-bold text-dark"
   
     for="female"> أنثى </label> 
    
            
             </label>
           </div>
      </div>
    </div>
    <!--end::Form-->
    <div class="card-toolbar">
      <button type="submit" [disabled]="formGroup.invalid" class="btn btn-success  confirmBtn mr-2" (click)="save()">حفظ التغييرات</button>
      <button type="submit" class="btn btn-success  confirmBtn mr-2" (click)="deleteUser()">حذف الحساب</button>
      <button type="button" class="btn btn-success  font-size-sm cancelBtn" (click)="cancel()">إلغاء</button>
    </div>

<!-- </div> -->
</div>
<ng-template
        #formError
        let-control="control"
        let-message="message"
        let-validation="validation"
>
  <ng-container
          *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="fv-plugins-message-container">
      <div class="fv-help-block text-danger">
        {{ message }}
      </div>
    </div>
  </ng-container>
</ng-template>



