<!--begin::Signin-->
<div>



    <!--begin::Form-->
    <form
      class="form"
      novalidate="novalidate"
      [formGroup]="addTicketForm"
      id="kt_login_signin_form"
      (ngSubmit)="submit()"
    >
  
  
      <!--begin::Title-->
      <div class="pb-13 pt-lg-0 pt-5"
      
      style="
       margin-top: 3mm;
      text-align: center;
      font-size: xx-large;
      font-weight: bolder;
      color: #707074;
      text-justify: center;
      justify-content: center;"
      
      >

        رفع طلب مساعدة
      
      </div>
      <!--end::Title-->
  
  
      <!-- begin::Alert error-->
      <ng-container *ngIf="hasError">
        <div
          class="mb-10 alert alert-custom alert-danger alert-dismissible"
        >
          <div class="alert-text"  >خطأ في البيانات المدخلة</div>
        </div>
      </ng-container>
      <!-- end::Alert error-->
  
      <!--begin::Form group-->
      <div class="form-group">
        <label class="font-size-h22 font-weight-normal text-darkGray"
        style="
      text-align: right;
      font-size: large;
      font-weight: normal;
      color: #707074;
      text-justify: right;
      justify-content: right;" >
        
       العنوان: </label>
        <input
          class="form-control form-control-solid h-auto py-7 px-6 rounded-lg"
          type="text"
          name="subject"
          formControlName="subject"
         
          [ngClass]="{ 'is-invalid': addTicketForm.controls['subject'].invalid }"
        />
        <ng-container
          [ngTemplateOutlet]="formError"
          [ngTemplateOutletContext]="{
            validation: 'required',
            message: 'حقل العنوان مطلوب',
            control: addTicketForm.controls['subject']
          }"
        ></ng-container>     

        <ng-container
          [ngTemplateOutlet]="formError"
          [ngTemplateOutletContext]="{
            validation: 'pattern',
            message: 'خطأ في العنوان ',
            control: addTicketForm.controls['subject']
          }"
        ></ng-container>

      </div>
      <!--end::Form group-->
  

      
      <!--begin::Form group-->
      <div class="form-group">
        <div class="d-flex justify-content-between mt-n5">
          <label class="font-size-h22 font-weight-normal text-darkGray"
          style="
        text-align: right;
        font-size: large;
        font-weight: normal;
        color: #707074;
        text-justify: right;
        justify-content: right;"
            >الوصف: </label>
        </div>
  

        <textarea 
        class="form-control form-control-solid h-auto py-14 px-6 rounded-lg"
          type="text"
          name="description"
          formControlName="description"
          [ngClass]="{ 'is-invalid': addTicketForm.controls['description'].invalid }"
        
        ></textarea>
        
        <ng-container
          [ngTemplateOutlet]="formError"
          [ngTemplateOutletContext]="{
            validation: 'required',
            message: 'حقل الوصف مطلوب',
            control: addTicketForm.controls['description']
          }"
        ></ng-container>
       </div>
      <!--end::Form group-->
  
  
  
      <!--begin::Form group-->
      <div class="form-group">
        <div class="d-flex justify-content-between mt-n5">
          <label class="font-size-h22 font-weight-normal text-darkGray"
          style="
        text-align: right;
        font-size: large;
        font-weight: normal;
        color: #707074;
        text-justify: right;
        justify-content: right;"
            >التصنيف:  </label>
        </div>


        <select 
        class="form-control form-control-solid h-auto py-24 px-6 rounded-lg"
          name="catgory"
          formControlName="catgory"
          [ngClass]="{ 'is-invalid': addTicketForm.controls['catgory'].invalid }"
        
    >
            <option selected="selected" value="Complaint">شكوى</option>
            <option value="Suggestion">اقتراح</option>
            <option value="Other">اخرى</option>
            </select>


      
        
        <ng-container
          [ngTemplateOutlet]="formError"
          [ngTemplateOutletContext]="{
            validation: 'required',
            message: 'حقل التصنيف مطلوب',
            control: addTicketForm.controls['catgory']
          }"
        ></ng-container>
       </div>
      <!--end::Form group-->






    




    
  
  
      <!--begin::Action-->
      <div class="pb-lg-0 pb-5"
      style="align-content: left;"
 >
        <button
          type="submit"
          id="kt_login_signin_submit"
          routerLink = "/pages/dashboard"
          class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-9 mr-13"
          style="background-color: #599fa8;
 


          border: #599fa8;
          border-radius: 30px;
          "
          [disabled]="addTicketForm.invalid"
        >
          رفع الطلب
        </button>
  
        <ng-container *ngIf="isLoading$ | async">
          <span class="spinner spinner-primary ml-5"></span>
        </ng-container>
        <ng-container *ngIf="isWrong">
          <span class="text-danger"> {{errorMessage}}</span>
        </ng-container>
      </div>
      <!--end::Action-->
    </form>
    <!--end::Form-->
  </div>
  <!--end::Signin-->
  
  <ng-template
    #formError
    let-control="control"
    let-message="message"
    let-validation="validation"
  >
    <ng-container
      *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
    >
      <div class="fv-plugins-message-container">
        <div class="fv-help-block">
          {{ message }}
        </div>
      </div>
    </ng-container>
  </ng-template>
  