<div class="card card-custom gutter-b ">
  <div class="example-header p-10">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="بحث">
    </mat-form-field>

  </div>
  <div class="example-container mat-elevation-z8">
    <mat-table [dataSource]="dataSource" #table matSort>
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="path">
        <mat-header-cell *matHeaderCellDef mat-sort-header   > path </mat-header-cell>
        <mat-cell *matCellDef="let row"  class="custom-th"> <div *ngFor="let path of row.paths"> {{path}} </div></mat-cell>
      </ng-container>

      <ng-container matColumnDef="os">
        <mat-header-cell *matHeaderCellDef mat-sort-header> النظام </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span *ngIf="row.os"> IPHONE </span>
          <span *ngIf="!row.os"> Android </span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef mat-sort-header> الاجراءات </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span   (click)="updatePath(row)"
                  class="btn btn-icon btn-light btn-hover-primary btn-sm">
            <span [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'"
                  class="svg-icon svg-icon-md svg-icon-primary"></span>
          </span>

        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
  </div>
</div>