<!--begin::Signup-->
<div class="login-form login-signup">
  <!--begin::Form-->
  <form
    class="form"
    novalidate="novalidate"
    id="kt_login_signup_form"
    [formGroup]="registrationForm"
    (ngSubmit)="submit()"
  >
    <!--begin::Title-->
    <div class="pb-13 pt-lg-0 pt-5"
    >
      <h3 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg">
التسجيل      </h3>
  
    </div>
    <!--end::Title-->

    <!-- begin::Alert error-->
    <ng-container *ngIf="hasError">
      <div
        class="mb-10 alert alert-custom alert-light-danger alert-dismissible"
      >
        <div class="alert-text">المعلومات المدخلة غير صحيحة</div>
      </div>
    </ng-container>
    <!-- end::Alert error-->

    <!--begin::Form group-->

    <div class="form-group">

      <label class="font-size-h6 font-weight-bolder text-dark">الاسم الأول*</label>
      <input
        class="form-control form-control-solid h-auto py-4 px-5 rounded-lg font-size-h6"
        type="text"
        name="firstName"
        formControlName="firstName"
        placeholder="الاسم الأول"
        autocomplete="off"
        [ngClass]="{
          'is-invalid': registrationForm.controls['firstName'].invalid
        }"
      />

      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'الاسم الأول مطلوب',
          control: registrationForm.controls['firstName']
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'minlength',
          message: 'الاسم الأول يجب أن يتكون من ٣ حروف على الأقل',
          control: registrationForm.controls['firstName']
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'maxLength',
          message: 'الاسم الأول يجب أن لا يكون أكثر من ١٠٠ حرف',
          control: registrationForm.controls['firstName']
        }"
      ></ng-container>
    </div>
    <!--end::Form group-->

    
    <!--begin::Form group-->
    <div class="form-group">
     
      <label class="font-size-h6 font-weight-bolder text-dark">الاسم الأخير*</label>
      <input
        class="form-control form-control-solid h-auto py-4 px-5 rounded-lg font-size-h6"
        type="text"
        name="lastName"
        formControlName="lastName"
        placeholder="الاسم الأخير"
        autocomplete="off"
        [ngClass]="{
          'is-invalid': registrationForm.controls['lastName'].invalid
        }"
      />

      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'الاسم الأخير مطلوب',
          control: registrationForm.controls['lastName']
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'minlength',
          message: 'الاسم الأخير يجب أن يتكون من ٣ حروف على الأقل',
          control: registrationForm.controls['lastName']
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'maxLength',
          message: 'الاسم الأخير يجب أن لا يكون أكثر من ١٠٠ حرف',
          control: registrationForm.controls['lastName']
        }"
      ></ng-container>
    </div>
    <!--end::Form group-->

    <!--begin::Form group-->
    <div class="form-group">
      <label class="font-size-h6 font-weight-bolder text-dark">البريد الإلكتروني*</label>
      <input
        class="form-control form-control-solid h-auto py-4 px-5 rounded-lg font-size-h6"
        type="email"
        placeholder="البريد الإلكتروني"
        name="email"
        formControlName="email"
        autocomplete="off"
        [ngClass]="{ 'is-invalid': registrationForm.controls['email'].invalid }"
      />
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'البريد الإلكتروني مطلوب',
          control: registrationForm.controls['email']
        }"
      ></ng-container>
      <!-- <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'email',
          message: 'البريد الإلكتروني غير صحيح',
          control: registrationForm.controls['email']
        }"
      ></ng-container> -->
    
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'maxLength',
          message: 'البريد الإلكتروني لا يمكن أن يكون أكثر من ٣٢٠ حرف',
          control: registrationForm.controls['email']
        }"
      ></ng-container>

      <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'pattern',
        message: 'خطأ في البريد الإلكتروني',
        control: registrationForm.controls['email']
      }"
    ></ng-container>
    </div>
    <!--end::Form group-->


    <!--begin::Form group-->
    <div class="form-group">
      <label class="font-size-h6 font-weight-bolder text-dark pt-5"
        >كلمة المرور*</label
      >
      <input
        class="form-control form-control-solid h-auto py-4 px-5 rounded-lg font-size-h6"
        type="password"
        placeholder="كلمة المرور"
        name="password"
        formControlName="password"
        autocomplete="off"
        [ngClass]="{
          'is-invalid': registrationForm.controls['password'].invalid
        }"
      />
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'كلمة المرور مطلوبة',
          control: registrationForm.controls['password']
        }"
      ></ng-container>


       <!--more restriction will be added-->
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'minlength',
          message: 'كلمة المرور يجب أن تتكون من ٨ أحرف على الأقل',
          control: registrationForm.controls['password']
        }"
      ></ng-container>

      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'maxLength',
          message: 'كلمة المرور لا يمكن أن تكون أكثر من ١٠٠ حرف',
          control: registrationForm.controls['password']
        }"
      ></ng-container>

      <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{ 
      validation: 'pattern',
      message: 'كلمة المرور يجب ان تحتوي على أحرف صغيرة وكبيرة وأرقام ورموز',
      control: registrationForm.controls['password']
    }"
    ></ng-container>
    </div>
    <!--end::Form group-->

    <!--begin::Form group-->
    <div class="form-group">
      <label class="font-size-h6 font-weight-bolder text-dark pt-5"
        >إعادة كلمة المرور*</label>
      <input
        class="form-control form-control-solid h-auto py-4 px-5 rounded-lg font-size-h6"
        type="password"
        placeholder="إعادة كلمة المرور"
        name="confirmPassword"
        autocomplete="off"
        formControlName="confirmPassword"
        [ngClass]="{
          'is-invalid': registrationForm.controls['confirmPassword'].invalid
        }"
      />
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'إعادة كلمة المرور مطلوبة',
          control: registrationForm.controls['confirmPassword']
        }"
      ></ng-container>
      <ng-container
        *ngIf="
          registrationForm.controls['confirmPassword'].errors &&
          registrationForm.controls['confirmPassword'].errors.ConfirmPassword
        "
      >
        <div class="fv-plugins-message-container">
          <div class="fv-help-block">
كلمة المرور و إعادة كلمة المرور لايتطابقان
    </div>
        </div>
      </ng-container>
    
    </div>
    <!--end::Form group-->



        <!--begin::Form group-->
    <div class="form-group">
       <label class="font-size-h6 font-weight-bolder text-dark pt-5">
       الجنس* <br>
  <input

        type="radio"
        id="MALE" 
        name="gender" 
        value="MALE"
        autocomplete="off"
        formControlName="gender"
        [ngClass]="{'is-invalid': registrationForm.controls['gender'].invalid
        }"
  >

  <label 
  class="font-size-h5 font-weight-bold text-dark"

  for="MALE"> ذكر </label>
  &nbsp;&nbsp;&nbsp;
  <input 
        type="radio"
        id="FEMALE" 
        name="gender" 
        value="FEMALE"
        autocomplete="off"
        formControlName="gender"
        [ngClass]="{
          'is-invalid': registrationForm.controls['gender'].invalid
        }"
  
  >
  <label 
  class="font-size-h5 font-weight-bold text-dark"

  for="FEMALE"> أنثى </label> 
 
         
          </label>
        </div>
        <!--end::Form group-->


    <!--begin::Form group-->
    <div class="form-group d-flex flex-wrap pb-lg-0 pb-3"
    style="  margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);"
    >
  
      <button
        type="submit"
        id="kt_login_signup_submit" 
        class="btn btn-primary font-weight-bolder font-size-h6 px-14 py-4 my-3 mr-4"
        style="background-color: #599fa8;
        border: #599fa8;
        border-radius: 30px;
        align-self: center;"
        [disabled]="registrationForm.invalid"
      >
        التسجيل
      </button>
     
      <ng-container *ngIf="isLoading$ | async">
        <span class="spinner spinner-primary ml-5"></span>
      </ng-container>
    </div>
    <div style="margin-top: -20px; margin-right:5px;">
      يوجد لديك حساب؟
     <a  routerLink="/auth/login" routerLinkActive="active">سجل دخولك الأن</a>
   
   </div>
    <!--end::Form group-->
  </form>
  <!--end::Form-->
</div>
<!--end::Signup-->

<ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        {{ message }}
      </div>
    </div>
  </ng-container>
</ng-template>
