<ng-container *ngIf="user">
  <div class="card card-custom" [formGroup]="formGroup">
    <!-- begin::Loading -->
    <ng-container *ngIf="isLoading$ | async">
      <div class="progress progress-modal">
        <div
          class="progress-bar progress-bar-striped progress-bar-animated bg-primary"
          role="progressbar"
          style="width: 100%"
          aria-valuenow="100"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
    </ng-container>
    <!-- end::Loading -->
    <!--begin::Header-->
    <div class="card-header py-3">
      <div class="card-title align-items-start flex-column">
        <h3 class="card-label font-weight-bolder text-dark">تغيير كلمة المرور</h3>
        <span class="text-muted font-weight-bold font-size-sm mt-1">تغيير كلمة المرور للحساب</span>
      </div>
      <div class="card-toolbar">
        <button type="submit" [disabled]="formGroup.invalid" class="btn btn-success  confirmBtn mr-2" (click)="save()">حفظ التغييرات</button>
        <button type="reset" class="btn btn-success  font-size-sm cancelBtn" (click)="cancel()">إلغاء</button>
      </div>
    </div>
    <!--end::Header-->
    <!--begin::Form-->
    <div class="form">
      <div class="card-body">
        <div class="form-group row">
          <label class="col-xl-3 col-lg-3 col-form-label text-alert">كلمة المرور الحالية</label>
          <div class="col-lg-9 col-xl-6">
            <input type="password"
              class="form-control form-control-lg form-control-solid mb-2"
              placeholder="كلمة المرور الحالية"
              autocomplete="off"
              formControlName="currentPassword"
            />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-xl-3 col-lg-3 col-form-label text-alert">كلمة المرور الجديدة</label>
          <div class="col-lg-9 col-xl-6">
            <input type="password"
              class="form-control form-control-lg form-control-solid"
              placeholder="كلمة المرور الجديدة"
              autocomplete="off"
              formControlName="password"
              [class.is-invalid]="isControlInvalid('password')"
              [class.is-valid]="isControlValid('password')" 
            />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-xl-3 col-lg-3 col-form-label text-alert">تأكيد كلمة المرور</label>
          <div class="col-lg-9 col-xl-6">
            <input type="password"
              class="form-control form-control-lg form-control-solid"
              placeholder="تأكيد كلمة المرور"
              autocomplete="off"
              formControlName="cPassword"
              [class.is-invalid]="isControlInvalid('cPassword')"
              [class.is-valid]="isControlValid('cPassword')" 
            />
            <div class="valid-feedback" *ngIf="isControlValid('cPassword')">تأكيد كلمة المرور صحيح</div>
            <div class="invalid-feedback" *ngIf="controlHasError('ConfirmPassword', 'cPassword')">لا يطابق كلمة المرور المدخلة</div>
          </div>
        </div>
      </div>
    </div>
    <!--end::Form-->
  </div>
</ng-container>