<ng-container>
  <div class="card card-custom" [formGroup]="formGroup">
    <!-- begin::Loading -->
    <ng-container *ngIf="isLoading$ | async">
      <div class="progress progress-modal">
        <div
          class="progress-bar progress-bar-striped progress-bar-animated bg-primary"
          role="progressbar"
          style="width: 100%"
          aria-valuenow="100"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
    </ng-container>
    <!-- end::Loading -->
    <!--begin::Header-->
    <div class="card-header py-3">
      <div class="card-title align-items-start flex-column">
        <h3 class="card-label font-weight-bolder text-dark">تغيير كلمة المرور</h3>
        <span class="text-muted font-weight-bold font-size-sm mt-1">تغيير كلمة المرور للحساب</span>
      </div>
      <!-- <div class="card-toolbar">
        <button type="submit" [disabled]="formGroup.invalid" class="btn btn-success  confirmBtn mr-2" (click)="save()">حفظ التغييرات</button>
        <button type="button" class="btn btn-success  font-size-sm cancelBtn" (click)="cancel()">إلغاء</button>
      </div> -->
    </div>
    <!--end::Header-->
    <!--begin::Form-->
    <div class="form">
      <div class="card-body">
        <div class="form-group row">
          <label class="col-xl-3 col-lg-3 col-form-label font-size-h5 ">كلمة المرور الحالية</label>
          <div class="col-lg-9 col-xl-6">
            <input type="password"
              class="form-control form-control-lg form-control-solid mb-2"
              placeholder="كلمة المرور الحالية"
              autocomplete="off"
              formControlName="currentPassword"
            />
            <mat-error  *ngIf="hasError">
              كلمة المرور الحالية خاطئة
            </mat-error>

          </div>
        </div>
        <div class="form-group row">
          <label class="col-xl-3 col-lg-3 col-form-label font-size-h5">كلمة المرور الجديدة</label>
          <div class="col-lg-9 col-xl-6 input-placeholder">
            <input type="password"
              class="form-control form-control-lg form-control-solid"
              placeholder="كلمة المرور الجديدة"
              autocomplete="off"
              formControlName="password" [type]="hide ? 'password' : 'text'"
             required/>
            <mat-icon   class="field-icon" (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            <ng-container [ngTemplateOutlet]="formError"
                          [ngTemplateOutletContext]="{ validation: 'minlength',
                          message: 'كلمة المرور يجب ان تتكون على الاقل 8 خانات',
                          control: formGroup.controls['password']}">
            </ng-container>
            <ng-container [ngTemplateOutlet]="formError"
                          [ngTemplateOutletContext]="{ validation: 'pattern',
                          message: 'كلمة المرور يجب ان تحتوي على أحرف صغيرة وكبيرة وأرقام ورموز',
                          control: formGroup.controls['password']}">
            </ng-container>
          </div>

        </div>
        <div class="form-group row">
          <label class="col-xl-3 col-lg-3 col-form-label font-size-h5">تأكيد كلمة المرور</label>
          <div class="col-lg-9 col-xl-6">
            <input type="password"
              class="form-control form-control-lg form-control-solid"
              placeholder="تأكيد كلمة المرور"
              autocomplete="off"
              formControlName="confirmPassword"
             />
            <mat-error *ngIf="formGroup.hasError('notSame')">
              كلمة المرور غير متطابقة
            </mat-error>
          </div>
        </div>
      </div>
    
    </div>

    <!--end::Form-->
    <div class="card-toolbar">
      <button type="submit" id="changePasswordButton"[disabled]="formGroup.invalid" class="btn btn-success  confirmBtn mr-2" (click)="save()" >حفظ التغييرات</button>
      <button type="button" class="btn btn-success  font-size-sm cancelBtn" (click)="cancel()">إلغاء</button>
    </div>
  </div>
  
</ng-container>

<ng-template
        #formError
        let-control="control"
        let-message="message"
        let-validation="validation"
>
  <ng-container
          *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="fv-plugins-message-container">
      <div class="fv-help-block text-danger">
        {{ message }}
      </div>
    </div>
  </ng-container>
</ng-template>
