.btnActions{
    float: left;
  }
  


  .formLables{


    font-size: x-large;
    font-weight: normal;
    color: #707074;
    text-justify: right;
    text-align: right;
    
    
    }
    
    
    .formTitle{
    
        margin-top: 3mm;
        text-align: center;
        font-size: xx-large;
        font-weight: bolder;
        color: #707074;
        text-justify: center;
        justify-content: center;
    
    }