<!--begin::Signin-->
<div class="login-form login-signin">
  <!--begin::Form-->
  <form
    class="form"
    [formGroup]="loginForm"
    novalidate="novalidate"
    id="kt_login_signin_form"
    (ngSubmit)="submit()"
  >


    <!--begin::Title-->
    <div class="pb-13 pt-lg-0 pt-5"
    style="background-image: url('./assets/media/logos/LOGO-3.png');
    background-position: center;
    background-repeat: no-repeat;
  
    
    height: 100px;
    
    
    "
    
    >
    
    </div>
    <!--end::Title-->


    <!-- begin::Alert error-->
    <ng-container *ngIf="hasError">
      <div
        class="mb-10 alert alert-custom alert-danger alert-dismissible"
      >
        <div class="alert-text" style="font-weight: bold;">خطأ في الدخول</div>
      </div>
    </ng-container>
    <!-- end::Alert error-->

    <!--begin::Form group-->
    <div class="form-group">
      <label class="font-size-h6 font-weight-bolder text-dark">البريد الإلكتروني</label>
      <input
        class="form-control form-control-solid h-auto py-7 px-6 rounded-lg"
        type="email"
        name="email"
        formControlName="email"
        [ngClass]="{ 'is-invalid': loginForm.controls['email'].invalid }"
      />
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'حقل البريد الإلكتروني مطلوب',
          control: loginForm.controls['email']
        }"
      ></ng-container>      
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'pattern',
          message: 'خطأ في البريد الإلكتروني',
          control: loginForm.controls['email']
        }"
      ></ng-container>

    </div>
    <!--end::Form group-->

    <!--begin::Form group-->
    <div class="form-group">
      <div class="d-flex justify-content-between mt-n5">
        <label class="font-size-h6 font-weight-bolder text-dark pt-5"
          >كلمة المرور</label>
      </div>

      <input
        class="form-control form-control-solid h-auto py-7 px-6 rounded-lg"
        type="password"
        name="password"
        formControlName="password"
        [ngClass]="{ 'is-invalid': loginForm.controls['password'].invalid }"
      />
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'حقل كلمة المرور مطلوب',
          control: loginForm.controls['password']
        }"
      ></ng-container>
  
     
<div style="margin-top: 1cm; margin-right: 2.5mm;">
  لا يوجد لديك حساب؟
  <a  routerLink="/auth/register" routerLinkActive="active">سجل الأن</a>

</div>


    </div>
    <!--end::Form group-->






    <!--begin::Action-->
    <div class="pb-lg-0 pb-5"
    style="  margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);"
    >
      <button
        type="submit"
        id="kt_login_signin_submit"
        
        class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3"
        style="background-color: #599fa8;
        border: #599fa8;
        border-radius: 30px;
        "
        [disabled]="loginForm.invalid"
      >
        تسجيل الدخول
      </button>

      <ng-container *ngIf="isLoading$ | async">
        <span class="spinner spinner-primary ml-5"></span>
      </ng-container>
    </div>
   <!-- <br><br><br> -->
    <ng-container *ngIf="isWrong">
      <p class="text-danger" style="margin-top: 80px;"> {{errorMessage}}</p>
    </ng-container>
    <!--end::Action-->
  </form>
  <!--end::Form-->
</div>
<!--end::Signin-->

<ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        {{ message }}
      </div>
    </div>
  </ng-container>
</ng-template>
