<ng-container>
  <div class="card card-custom" [formGroup]="formGroup">


    <!-- begin::Loading -->
    <ng-container *ngIf="isLoading$ | async">
      <div class="progress progress-modal">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar"
          style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </ng-container>
    <!-- end::Loading -->
    <!--begin::Header-->
    <div class="card-header py-3">
      <div class="card-title align-items-start flex-column">
        <h3 class="card-label font-weight-bolder text-dark">تعديل المستخدم</h3>
      </div>


    </div>
    <!-- <div 
        
        *ngFor="let user of  getUser();"> -->

    <!--end::Header-->
    <!--begin::Form-->
    <div class="form">
      <div class="card-body">


        <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          control: formGroup.controls['avatar']
        }">
        <div class="form-group col-md-5">


          <img class="avatar" src="./assets/avatars-new/{{getUserAvatar()}}.png" style="
     height: 150px;
    width: 150px; 
     " />




          <span (click)="editAvatar()">

         
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px" y="0px" viewBox="0 0 348.882 348.882" style="enable-background:new 0 0 348.882 348.882;
height: 20px;
width: 20px;
position: relative;
bottom: -50px; " xml:space="preserve">
              <g>
                <path d="M333.988,11.758l-0.42-0.383C325.538,4.04,315.129,0,304.258,0c-12.187,0-23.888,5.159-32.104,14.153L116.803,184.231
 c-1.416,1.55-2.49,3.379-3.154,5.37l-18.267,54.762c-2.112,6.331-1.052,13.333,2.835,18.729c3.918,5.438,10.23,8.685,16.886,8.685
 c0,0,0.001,0,0.001,0c2.879,0,5.693-0.592,8.362-1.76l52.89-23.138c1.923-0.841,3.648-2.076,5.063-3.626L336.771,73.176
 C352.937,55.479,351.69,27.929,333.988,11.758z M130.381,234.247l10.719-32.134l0.904-0.99l20.316,18.556l-0.904,0.99
 L130.381,234.247z M314.621,52.943L182.553,197.53l-20.316-18.556L294.305,34.386c2.583-2.828,6.118-4.386,9.954-4.386
 c3.365,0,6.588,1.252,9.082,3.53l0.419,0.383C319.244,38.922,319.63,47.459,314.621,52.943z" />
                <path d="M303.85,138.388c-8.284,0-15,6.716-15,15v127.347c0,21.034-17.113,38.147-38.147,38.147H68.904
 c-21.035,0-38.147-17.113-38.147-38.147V100.413c0-21.034,17.113-38.147,38.147-38.147h131.587c8.284,0,15-6.716,15-15
 s-6.716-15-15-15H68.904c-37.577,0-68.147,30.571-68.147,68.147v180.321c0,37.576,30.571,68.147,68.147,68.147h181.798
 c37.576,0,68.147-30.571,68.147-68.147V153.388C318.85,145.104,312.134,138.388,303.85,138.388z" />
              </g>

            </svg>
          </span>



        </div>
      </ng-container>

        <div class="form-group col-md-5">
          <label class="font-size-h6 font-weight-bolder text-dark"> الاسم الأول*</label>

          <input class="form-control form-control-solid h-auto py-4 px-5 rounded-lg font-size-h6" type="text" 
            name="firstName" formControlName="firstName" placeholder="الاسم الأول"autocomplete="off" [ngClass]="{
                    'is-invalid': formGroup.controls['firstName'].invalid
                  }" />  

          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                    validation: 'required',
                    message: 'الاسم الأول مطلوب',
                    control: formGroup.controls['firstName']
                  }"></ng-container>
          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                    validation: 'minlength',
                    message: 'الاسم الأول يجب أن يتكون من ٣ حروف على الأقل',
                    control: formGroup.controls['firstName']
                  }"></ng-container>
          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                    validation: 'maxLength',
                    message: 'الاسم الأول يجب أن لا يكون أكثر من ١٠٠ حرف',
                    control: formGroup.controls['firstName']
                  }"></ng-container>
        </div>
        <div class="form-group col-md-5">

          <label class=" font-size-h6 font-weight-bolder text-dark">الاسم الأخير*</label>
          <!-- <p>
            {{user.firstName}} </p> -->
          <input class="form-control form-control-lg form-control-solid h-auto py-4 px-5 rounded-lg font-size-h6 "
            type="text" name="lastName" formControlName="lastName" placeholder="الاسم الأخير" autocomplete="off"
            [ngClass]="{
              'is-invalid': formGroup.controls['lastName'].invalid
            }" />

          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'الاسم الأخير مطلوب',
              control: formGroup.controls['lastName']
            }"></ng-container>
          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
              validation: 'minlength',
              message: 'الاسم الأخير يجب أن يتكون من ٣ حروف على الأقل',
              control: formGroup.controls['lastName']
            }"></ng-container>
          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
              validation: 'maxLength',
              message: 'الاسم الأخير يجب أن لا يكون أكثر من ١٠٠ حرف',
              control: formGroup.controls['lastName']
            }"></ng-container>
        </div>
        <div class="form-group ">
          <label class="font-size-h6 font-weight-bolder text-dark pt-5">
            الجنس* <br>
    



            
            <input type="radio" id="male" name="gender" value="MALE" autocomplete="off" 
              [ngClass]="{
             'is-invalid': formGroup.controls['gender'].invalid
           }"
           [checked]= "gender == 'MALE'"

          >
            <label class="font-size-h5 font-weight-bold text-dark" for="male"> ذكر </label>
            &nbsp;&nbsp;&nbsp;
            <input type="radio" id="female" name="gender" value="FEMALE" autocomplete="off"
              [ngClass]="{
             'is-invalid': formGroup.controls['gender'].invalid
           }"
           
           [checked]= "gender == 'FEMALE'"
           >
          

            <label class="font-size-h5 font-weight-bold text-dark" for="female"> أنثى </label>


          </label>
        </div>
      </div>
    </div>
    <!--end::Form-->
    <div class="card-toolbar">
      <button type="submit" [disabled]="formGroup.invalid" class="btn btn-success  confirmBtn mr-2" (click)="save()">حفظ
        التغييرات</button>
      <button type="submit" class="deletebtn" (click)="deleteUser()">حذف الحساب</button>
      <button type="button" class="btn btn-success  font-size-sm cancelBtn" (click)="cancel()">إلغاء</button>
    </div>

    <!-- </div> -->
  </div>
  <ng-template #formError let-control="control" let-message="message" let-validation="validation">
    <ng-container *ngIf="control.hasError(validation) && (control.touched)">
      <div class="fv-plugins-message-container">
        <div class="fv-help-block text-danger">
          {{ message }}
        </div>
      </div>
    </ng-container>
  </ng-template>