<!-- begin::Header Nav -->
<ul class="menu-nav"
style="background-color: #7BBDC7;"
[ngClass]="ulCSSClasses">
  <!-- begin::1 Level -->
  <li 
  
  class="menu-item menu-item-rel"  
  routerLinkActive="menu-item-active">
    <a class="menu-link" routerLink="/dashboard" routerLinkActive="active">
      <span 
      style=" color: #46464B; font-size: larger;"

      class="menu-text">تذاكر</span>
     
      <ng-container *ngIf="rootArrowEnabled">
        <i class="menu-arrow"></i>
      </ng-container>
    </a>
  </li>
  <!-- end::1 Level -->

  <!-- begin::1 Level -->
  <li class="menu-item menu-item-rel" routerLinkActive="menu-item-active">
    <a class="menu-link" routerLink="/usersManagement" routerLinkActive="active">
      <span 
      style=" color: #46464B; font-size: larger;"

      class="menu-text">حسابي</span>
      <ng-container *ngIf="rootArrowEnabled">
        <i class="menu-arrow"></i>
      </ng-container>
    </a>
  </li>



  <!-- begin::1 Level -->
  <li class="menu-item menu-item-rel" routerLinkActive="menu-item-active">
    <a class="menu-link" routerLink="/usersManagement" routerLinkActive="active">
      <span 
      style=" color: #46464B; font-size: larger;"

      class="menu-text">من نحن؟</span>
      <ng-container *ngIf="rootArrowEnabled">
        <i class="menu-arrow"></i>
      </ng-container>
    </a>
  </li>






</ul>
<!-- end::Header Nav -->
