<ng-container *ngIf="user$ | async as _user">
  <ng-container *ngIf="extrasUserDropdownStyle === 'light'">
    <!--begin::Header-->
    <div class="d-flex align-items-center p-6 rounded-top">
      <!--begin::Symbol-->
              <span
                    class="userIcon text-uppercase">{{ _user.username[0] }}</span>
       <!--end::Symbol-->

      <!--begin::Text-->
      <div class="text-dark m-2 flex-grow-1 font-size-h5">
        {{ _user.username }}
      </div>
      <!--end::Text-->
    </div>
    <div class="separator separator-solid"></div>
    <!--end::Header-->
  </ng-container>

  <!--begin::Nav-->
  <div class="navi navi-spacer-x-0 pt-5">
    <!--begin::Item-->
    <a class="navi-item px-8 cursor-pointer" routerLink="/change-password" [queryParams]="{user: _user.id}" >
      <div class="navi-link">
        <div class="navi-icon mr-2">
          <i class="flaticon2-calendar-3 text-success"></i>
        </div>
        <div class="navi-text">
          <div class="font-weight-bold">
            تغيير كلمة المرور
          </div>
        </div>
      </div>
    </a>

    <div class="navi-separator mt-3"></div>
    <div class="navi-footer px-8 py-5">
      <a
              class="btn btn-light-primary font-weight-bold cursor-pointer"
              (click)="logout()"
      >تسجيل خروج</a
      >
     </div>
    <!--end::Footer-->
  </div>
  <!--end::Nav-->
</ng-container>
